@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 4%;
  --foreground: 0 0% 100%;
  --card: 240 4% 10%;
  --card-foreground: 0 0% 100%;
  --primary: 260 90% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 5% 20%;
  --secondary-foreground: 0 0% 80%;
  --muted: 240 5% 30%;
  --muted-foreground: 220 10% 70%;
  --border: 240 5% 20%;
}
